<div id="mainSlider" style="background-color: transparent; color: white; ">  <!-- MINHEIGHT HAS TO MATCH THE IMAGE SIZE OR THE STICKY WILL GET CONFUSED -->
		<div id="carousel-1" class="rn-carousel-container" >
			
			
			<ul rn-carousel="" rn-carousel-control="">
				
	            <li ng-repeat="slide in slides" >	              
	              
	                	<img ng-src="{{slide.img}}" class="img-responsive" style="cursor: pointer" style-parent>   
	                       
	            </li>
     	   </ul>
     	   
	                <div class="carousel-text-float">
	                		<h1>Welcome to Downplay!</h1>
	                		<h4>We make typing Screenplays easy.</h4>
	                		<h3></h3>
	                </div>     	   
        </div>
</div>