<div class="" ng-init="init()">


	<!-- Section -->
	<div class="scroll-pattern-3" data-speed="4" data-offset="0" data-type="background">
		<div style="width: 100%; text-align: center; padding: 70px 50px">
		
			<div class="row" >	
		    	<h3>Start Typing here...</h3>
		    	
		    		<a class="button success tiny" style="margin-left: 10px" ng-click="open()"><i class="fa fa-cloud"></i> &nbsp;Or upload your current script <strong>(Plaintext)</strong></a>
		    	    	
		    	
		    	
		    	<textarea rows="20" cols="50" class="ng-click-select" ng-model="sampleText"></textarea>
		    	<br>
		    	<br>
		    	<h3>... and copy (or download) your screenplay here!  Simple.
				</h3>
				<textarea rows="20" cols="50" type="text" ng-click-select ng-model="sampleText" ></textarea>
				<br>
		    	<a class="button success tiny pull-right" style="margin-left: 10px" ng-click="open()"><i class="fa fa-download"></i> &nbsp;Download as <strong>HTML</strong></a>
				<a class="button success tiny pull-right" style="margin-left: 10px" ng-click="testScroll()"><i class="fa fa-download"></i> &nbsp;Download as <strong>Plaintext</strong></a>				
			</div>	
				  	    
	
			
		</div>
		
	</div>
	
	<br><br>
		
		
</div>	

